<form #loginform="ngForm" (ngSubmit)="(loginform)">

    <h1 class="h3 mb-10 fw-normal text-center text-secondary">Giriş</h1>

    <div class="form-floating">
        <input type="text" class="form-control" #userName="ngModel" [(ngModel)]="model.userName" id="userName" name="userName" placeholder="kulanıcı adı">
        <label for="floatingInput">Kulanıcı adı</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" #Password="ngModel" [(ngModel)]="model.password" id="Password" name="Password" placeholder="şifre">
        <label for="floatingPassword">şifre</label>
    </div>


    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>

    <button class="w-100 btn btn-lg btn-primary" type="submit">giriş</button>
    <p class="mt-5 mb-3 text-muted">&copy; </p>
</form>
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    
    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>