<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 li li-hover">
            <li><a class="nav-link px-6 link-secondary bg-primary text-white" routerLink="products/category/{{categoryid}">Anasayfa</a></li>
            <li><a routerLink="product-add" class="nav-link px-6 link-dark">Ürün Ekleme</a></li>
            <li><a href="#" class="nav-link px-6 link-dark">Ürün silme</a></li>
            <li><a href="#" class="nav-link px-6 link-dark">ürün günceleme</a></li>
            <li><a href="#" class="nav-link px-6 link-dark">Hakkımızda</a></li>
        </ul>

        <div class="col-md-3 text-end">

            <!-- <button type="button" class="btn btn-primary">Sign-up</button> -->
            <button type="button" class="btn btn-outline-primary me-2" routerLink="/login" *ngIf="isLoggedInn()==false">Login</button>
            <button type="button" class="btn btn-outline-primary me-2" routerLink="/login" *ngIf="isLoggedInn()==true" (onclick)="logOut">Login</button>
        </div>
    </header>
</div>